@use '../../../../variables' as *;

.selected_movie {
  display: block;
}


.show-movie {
  overflow: scroll;

  .play-button {
    margin: $spacer-L 0 0 $spacer-L;
  }

  .about-it {
    display: flex;
    padding: $spacer-XM;
    color: $color-p;
    justify-content: space-between;
    min-height: 28%;
    bottom: 0px;

    &__overview__container {
      display: flex;
      flex-direction: column;
      width: 50%;

      h3 {
        margin: $spacer-S 0px $spacer-S 0px;
      }

      .about-it__overview {
        line-height: $spacer-XM;
      }
    }

    &__genre-list {
      list-style: none;
      margin-top: $spacer-S;

      h4 {
        margin: $spacer-S 0px $spacer-S 0px;
      }

      li {
        margin-bottom: $spacer-XS;
      }
    }
  }

  .error-trailer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-p;
  }
}


.trailer-large {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 5;
  animation: showTrailer 2s;

  div, iframe {
    width: 100%;
    height: 100%;
  }

  &--hidden {
    animation: showTrailer 1s reverse backwards;
  }
}

@keyframes showTrailer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// css for phone with screen under 767px
@media (max-width: 767px) {
  .show-movie {
    width: 100% !important;
  }
}
