@use '../variables' as *;

#main-header {
  padding: 0 $box-padding;
  display: flex;
  justify-content: flex-end;
}

.header {
  transition: box-shadow 1s, background 1s;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-size: small;
  font-weight: lighter;
  padding-bottom: 20px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 3;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(40, 44, 52, 0));

  .logo {
    object-fit: contain;
    height: 100px;
  }

  ul {
    list-style: none;
    display: flex;
  }
  li {
    margin-right: 50px;
  }

  &.scroll {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(40, 44, 52, 0.9));
  }

  .header__left {
    display: flex;
    align-items: center;
    margin-left: $spacer-1;
  }

  .header__right {
    margin-right: $spacer-3;
  }
}



