@use '../../variables' as *;

.season{
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: $spacer-M;

  &-infos{
    display: flex;
    width: fit-content;
  }
  .episode{
    &-container{
      display: flex;
      flex-direction: column;
      gap: $spacer-XS;
    }

    &-title{
      display: flex;
      gap:$spacer-XS;
    }

    &-overview{
      font-size: smaller;
    }
  }
  .episodes{
    &-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: $spacer-XS;
    }
  }
  &-button{
    cursor: pointer;
  }
}

.episode__icon-play{
  height: $icon-size-XS;
}
