@use '../../variables' as *;

.saison{
  &-infos__container{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  &-infos{
    border: $border;
    border-radius: $button-border-radius;
    width: fit-content;
    padding: $spacer-XS;
    background: $button-background;
  }
}
