@use '../../../variables' as *;

.search-bar {
  width: $width-search-bar;
  position: relative;
  border-radius: $button-border-radius;
  overflow: hidden;
  border: $border;

  input {
    margin: 0px;
    padding: $spacer-S;
    width: 100%;
    outline: none;
    height: $height-search-bar;
    background: none;
    border: none;
    color: $color-p;
  }

  button {
    position: absolute;
    top: 0;
    border-radius: $button-border-radius;
    right: 0px;
  }
}


input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
