@use '../../../variables' as *;

.row-top {
  z-index: 0;
  position: relative;
  margin-bottom: $spacer-3;

  .row__posters {
    padding: 0;
  }

  .arrow__parent {
    margin: 0;
    height: 100%;
  }

  .arrow__left {
    border-radius: $border-radius-large-poster 0px 0px $border-radius-large-poster;
  }

  .arrow__right {
    border-radius: 0px $border-radius-large-poster $border-radius-large-poster 0px;
  }

  .row__posters--top {
    margin: 0;
    gap: 0;
    position: relative;
    overflow: hidden;
    scroll-behavior: unset;
  }

  .top-card {
    height: $height-top-card;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: $spacer-5;
    position: relative;
    opacity: 0;
    transition: opacity ease-in 3s;
    width: 100vh;

    &--selected {
      opacity: 1;
    }

    p {
      width: 90%;
    }

    #info {
      border-radius: $border-radius-poster;
      width: 25%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 3;
      position: absolute;
      margin: $spacer-3;
      left: 0;
      bottom: 0;

      p, h2 {
        width: 100%;
      }
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 1;
      border-radius: $border-radius-large-poster;
      border-bottom: $border;
      transition: opacity 4s;
    }

    & > div > * {
      margin: 0;
    }

    &--filter {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgb(40, 44, 52);
      background: $background-filter-top-poster;
    }
  }

  .trailer-large {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    z-index: 5;

    &__video{
      position: absolute;
      z-index: 5;
      width: 100vh;
      height: $height-top-card;
    }

    &--hider {
      opacity: 0;
    }

    &--show {
      opacity: 1;
    }
  }
}
