@use '../variables' as *;

.arrow {
  cursor: pointer;
  background: $background-arrow;
  display: flex;
  align-items: center;
  z-index: 2;
  opacity: 0;
}

.arrow_img {
  width: $width-arrow;
  object-fit: contain;
  box-shadow: $box-shadow;
}
.arrow:hover{
  opacity: 1;
}
.arrow_parent {
  width: 100%;
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 0;
  margin-bottom: $spacer-1;
}
.arrow_right{
  border-radius: $border-radius-poster;
}
.arrow_left{
  border-radius: $border-radius-poster;
  display: none;
}
