@use '../../../variables' as *;

.arrow {
  cursor: pointer;
  background: $background-arrow;
  display: flex;
  align-items: center;
  z-index: 2;
  opacity: 0;
  border-radius: $border-radius-poster;

  &__right {
    margin-left: auto;
  }

  &__left {
    margin-right: auto;
  }

  &__icon {
    color: white;
  }
  &:hover{
    opacity: 1;
  }
}

.arrow__parent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  margin-bottom: $spacer-1;
}
